# Operation systems

# Windows
desktop.ini
DGLE.dll
bin/windows/tests/
bin/windows/x64/tests/
bin/windows/examples/
bin/windows/x64/examples/
bin/windows/plugins/
bin/windows/x64/plugins/
bin/windows/utils/
bin/windows/tools/
!bin/windows/tools/libclearlooks.dll
bin/windows/x64/tools/
include/csharp/

# Mac OS X
Icon?
*.DS_Store

# Misc
log.txt
docs/api_help/

# IDEs and languages

# Visual Studio
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
*.ilk
*.lib
*.exp
*.pdb
ipch/
*.aps
*.sdf
*.opensdf
*.iobj
*.ipdb
*.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.tmp

# Monodevelop and C#
*.userprefs
*.mdb
*.exe.manifest
*.vshost.exe

# Delphi and C++ Builder
*__history*
*.local
