# Operation systems

# Windows
desktop.ini
DGLE.dll
bin/windows/tests/*.exe
bin/windows/x64/tests/*.exe
bin/windows/examples/*.exe
bin/windows/x64/examples/*.exe
bin/windows/plugins/*.dll
bin/windows/x64/plugins/*.dll
bin/windows/tools/*.exe
bin/windows/tools/*.dll
bin/windows/tools/*.o
bin/windows/tools/*.c
bin/windows/x64/tools/*.exe
bin/windows/x64/tools/*.dll

# MacOS X
Icon?
.DS_Store

# Misc
SyncToy_*
log.txt
docs/api_help/

# IDEs and languages

# Visual Studio
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
*.ilk
*.lib
*.exp
*.pdb
ipch/
*.aps
*.sdf

# Monodevelop and C#
*.userprefs
*.mdb
*.exe.manifest